body {
background-color: #cccccc;
}

.title {
position: absolute;
font-size: 10px;
}

.box {
display: flex;
align-items:center;
}

.center {
  position: flex;
}

.buttons {
display: block;
width: 100%;
border: none;
background-color: #577075;
padding: 14px 28px;
font-size: 16px;
cursor: pointer;
text-align: center;
color: white;
border-radius: 25px;
width:fit-content;
}

.mid {
position: fixed;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
color: white;
}

.card-1 {
background-color: #191D23;
top: 48%;
left: 29%;
height: 90%;
width: 25%;
border-radius: 25px;
border-style: inset;
margin-right: 5px;
margin-left: 5px;
transform: translate(0%, -2%);
}

.card-2 {
background-color: #191D23;
top: 50%;
left: 50%;
height: 90%;
width: 25%;
border-radius: 25px;
border-style: inset;
margin-right: 5px;
margin-left: 5px;
}

.card-3 {
background-color: #191D23;
top: 52%;
left: 71%;
height: 90%;
width: 25%;
border-radius: 25px;
border-style: inset;
margin-right: 5px;
margin-left: 5px;
transform: translate(0%, 2%);
}

.pic{
max-width:18%;
max-height:18%;
object-fit: contain;
}

.img {
max-width:100%;
width: auto;
object-fit: contain;
}

.row {
--bs-gutter-x: 1.5rem;
--bs-gutter-y: 0;
display: flex;
flex-wrap: wrap;
margin-left: calc(var(--bs-gutter-x) * -0.5);
margin-right: calc(var(--bs-gutter-x) * -0.5);
margin-top: calc(var(--bs-gutter-y) * -1);
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
padding: px 0;
height: 90%;
}

  .card {
    border-radius: 25px;
    background:#8a8fa3;
    padding: 5%;
    height: 90%;
    width: 20%;
  }